@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1368EC;
}

:root{
  --font-display: 'Poppins', sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #1368EC; 
}

@layer base{
  html {
    font-family: var(--font-display);
  }

  body{
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

@layer utilities {
  .bg-primary {
    background-color: #1368EC;
  }

  .text-primary {
    color: #1368EC;
  }
}

.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btm-primary {
  @apply w-full text-sm font-medium text-white bg-[var(--color-primary)] shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}

.card {
  @apply bg-white shadow-lg shadow-purple-600/5 rounded-lg p-6;
}

.card-btn {
  @apply text-sm font-medium text-white bg-[var(--color-primary)] shadow-lg shadow-purple-600/5 p-2 rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}

.card-btn-fill {
  @apply w-full text-sm font-medium text-white bg-[var(--color-primary)] shadow-lg shadow-purple-600/5 p-2 rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}

.form-card {
  @apply bg-white shadow-lg shadow-purple-600/5 rounded-lg p-6 mb-6;
}

.form-input {
  @apply w-full text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.add-btn {
  @apply text-sm font-medium text-white bg-green-600 shadow-lg shadow-purple-600/5 p-2 rounded-md my-1 hover:bg-green-700/15 hover:text-green-700 cursor-pointer;
}

.download-btn {
  @apply text-sm font-medium text-white bg-indigo-600 shadow-lg shadow-purple-600/5 p-2 rounded-md my-1 hover:bg-indigo-700/15 hover:text-indigo-700 cursor-pointer;
}